body {
  display: flex;
  flex-direction: column;
  background-color: grey;
  border-radius: 10px;
  padding-left: 2%;
  padding-right: 2%;
  justify-content: center;
  align-items: center;
}

h1 {
  padding: 5px;
  background-color: lightgray;
  border-radius: 10px;
}

h2 {
  color: red;
  align-self: flex-start;
}

li {
  color: green;
  align-self: flex-start;
  margin-left: 2%;
  padding: 3px;
  background-color: lightgray;
  border-radius: 5px;
}

p {
  color: blue;
  align-self: flex-start;
  margin-left: 3%;
  padding: 2px;
  background-color: lightgray;
  border-radius: 5px;
}
