body {
  display: flex;
  flex-direction: column;
  background-color: grey;
  border-radius: 10px;
  padding-left: 2%;
  padding-right: 2%;
  justify-content: center;
  align-items: center;
}

h1 {
  padding: 5px;
  background-color: lightgray;
  border-radius: 10px;
}

h2 {
  color: red;
  align-self: flex-start;
}
